@font-face {
  font-family: 'StolzlDisplay';
  src: url("fonts/StolzlDisplay-Normal.otf");
}

@font-face {
  font-family: 'ArnoPro';
  src: url("fonts/ArnoPro-Regular.otf");
}

body{
  background-image: url(img/bg2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000000;
  margin: 0;
  font-family: 'StolzlDisplay';
}

#about{
  font-family: 'StolzlDisplay';
  background-color: black;
  color: yellow;
  font-size: 5em;
}

#aboutTxt{
  font-size: 5em;
}

#main{
  font-size: 5em;
}

#cursor {
  margin: 0;
  width: 15%;
}

#project1:hover{
    position: relative;
}

@media (min-width: 1200px)  {
  #project1:hover:after{
    content: url(img/ItsJustTheInternet);
    display: block;
    position: fixed;
    z-index: 1;
    left: -20%;
    top: -50%;
    transform: scale(.3);
  }
}

#project2:hover{
    position: relative;
}

@media (min-width: 1200px)  {
  #project2:hover:after{
    content: url(img/imagemcapa2.gif);
    display: block;
    position: fixed;
    z-index: 1;
    left: 40%;
    top: 20%;
    transform: scale(.8);
  }
A}

/* unvisited link */
a:link {
  color: blue;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: blue;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: blue;
  text-decoration: none;
}

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
}
